
* {
    margin: 0%;
    padding: 0;
}
.box {
    width: 500px;
    height: 500px;
    background-color: red;
}
p {
    font-size: 5rem;
}
.container {
    position: relative;
}
.smooth-scroll-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-width: 100vw;
    max-height: 100vh;
    background-color: green;
}
